.notes-page {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  margin-left: 3rem;
}
.notes-container {
  min-height: 100vh;
  flex-basis: 100%;
}
.margin-left-20 {
  margin-left: 20%;
}
.notes-render-div {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
}
