.notes-page {
  transition: 0.3s ease;
  margin-left: 3rem;
}
.notes-container {
  min-height: 100vh;
  flex-basis: 100%;
}
.margin-left-20 {
  margin-left: 13rem;
}
.notes-render-div {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.notes-render-div > h3 {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 780px) {
  .notes-page {
    margin: 0.5rem;
  }
  .notes-render-div {
    margin-top: 3rem;
  }
}
