/* BOTTOM PALLETS STYLE Below  */
.bottom-toolbar {
  border-top: 1px solid var(--color-text);
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-around;
}
.add-note.ct-btn {
  background-color: var(--color-primary);
  color: var(--gray-100);
}
.close-note {
  background-color: var(--red-500);
  color: var(--gray-100);
}
