.dark-light {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.5rem;
  margin: 0rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-body-bg);
  color: var(--color-text);
}
.dark-icon {
  transition: cubic-bezier(0.7, 0.28, 0.1, 0.045) 0.35s;
  transform: rotate(0deg);
}

.light-icon {
  transition: cubic-bezier(0.7, 0.28, 0.1, 0.045) 0.35s;
  transform: rotate(90deg);
}
