.color-pallete-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pallete-icon {
  cursor: pointer;
}
.color-pallete {
  display: flex;
  gap: 0.4rem;
  padding: 5px;
  position: absolute;
  top: 2rem;
  border: 1px solid var(--color-text);
  border-radius: 5px;
  background-color: var(--gray-900);
}
.pallete-hide {
  display: none;
}
.color {
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.color.red {
  background-color: var(--red-300);
}
.color.violet {
  background-color: var(--violet-300);
}

.color.blue {
  background-color: var(--blue-300);
}
.color.yellow {
  background-color: var(--yellow-300);
}
