.nav-bar {
  position: sticky;
  top: 0;
  background-color: var(--color-nav-bg);
  padding: 0.8rem 4rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 8;
}
.brand-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 5px;
  text-decoration: none;
  cursor: pointer;
}
.brand-name {
  font-family: "Baloo 2", cursive;
  color: var(--color-primary);
  letter-spacing: 0.07em;
}
.nav-logo {
  width: 40px;
}

.dialog-box {
  text-decoration: none;
  display: flex;
  border-radius: 7px;
}
.dialog {
  font-size: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-text);
}
.user-logged {
  display: flex;
  gap: 1rem;
  font-family: "Baloo 2", cursive;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-gray-600);
}
.dialog.ct-btn.ct-green-bd.active {
  color: var(--color-primary);
  font-weight: bold;
  background-color: var(--color-gray-100);
}
