.create-note-container {
  position: sticky;
  top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  position: relative;
}
.note-section {
  position: relative;
  border: 1px solid var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
}
.note-title {
  position: absolute;
  top: 62px;
  width: 80%;
  font-size: 1.5rem;
  transition: 0.3s ease;
  padding: 0.4rem;
  margin: 5px 7px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--gray-500);
}

/* LABEL OUTPUT DIV STYLES  */
.label-render-div {
  width: 80%;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.label {
  display: flex;
  align-items: center;
  padding: 0 5px;
  border: 1px solid var(--color-text);
  border-radius: 5px;
  gap: 5px;
}
.label-delete {
  font-size: 1rem;
  cursor: pointer;
}
/* BOTTOM PALLETS STYLE Below  */
.bottom-toolbar {
  padding: 0.5rem 0;
  margin: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.add-note.ct-btn {
  background-color: var(--color-primary);
  color: var(--gray-100);
  font-size: 1.2rem;
}

.close-note {
  background-color: var(--red-500);
  color: var(--gray-100);
}
.pin-note {
  font-size: 1.8rem;
}
.toolbar-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.toolbar-tools > * {
  cursor: pointer;
}
/* MEDIA QUERIES  */
@media only screen and (max-width: 750px) {
  .note-title {
    top: -4px;
  }
  .ql-snow.ql-toolbar {
    margin-top: 2.8rem;
  }
  .ql-container.ql-snow {
    margin-top: 0rem;
  }
}
