.landing-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 300px;
  color: var(--color-gray-900);
}
.landing-content {
  font-size: 1.2rem;
  flex-basis: 40%;
  align-items: center;
  justify-content: center;
}

.landing-img {
  flex-basis: 60%;
  min-width: 300px;
}
.landing-brand-name {
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  color: var(--color-success);
  font-family: "Baloo 2", cursive;
}

.landing-cta.ct-btn.ct-green-bd {
  max-width: fit-content;
  padding: 0.3rem 1rem;
  color: #fff;
  margin-top: 2rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-success);
  text-decoration: none;
  font-family: "Baloo 2", cursive;
}
.landing-link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-gray-600);
  cursor: pointer;
  transition: all 250ms ease;
}
.landing-link:hover {
  color: var(--color-gray-900);
}
