@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(160, 100%, 40%);
  --color-nav-bg: hsl(160, 66%, 85%);
  --color-primary-muted: hsl(160, 66%, 85%);
  --color-gray-600: hsl(226, 15%, 50%);
  --color-gray-900: hsl(197, 14%, 10%);
  --color-gray-100: hsl(220, 23%, 95%);
}

body.light-mode {
  --color-body-bg: hsl(220, 23%, 95%);
  --color-text: hsl(215, 28%, 17%);
  --editor-color: hsl(215, 28%, 17%);
}
body.dark-mode {
  --color-body-bg: hsl(197, 14%, 10%);
  --color-note-bg: hsl(200, 12%, 14%);
  --color-text: hsl(140, 23%, 95%);
  --editor-color: hsl(160, 100%, 40%);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-body-bg);
  color: var(--color-text);
  letter-spacing: 0.01em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
